#1) What are the data structutes, and why are they important?  
Answer -  

Data structures are the key fundamental concepts of a programming language they deal with how data is organized in the memory and provides an efficient way to manage and manipulate data.  
Data structures are important in a programming language because they provide the data organization and make the language more reliable.

#2)  Explain the difference between mutable and immutable data types with examples.  
Answer -  

Mutable Data Type - Mutable data types are those whose values can be changed after they created you can change and modifiy there content direclty without creating a new object.  
Example - List, Dictionaries, Sets


Immutable Data Type - Immutable Data types are those whose values can not be changed after they created and if you try to change or modify they value you appears to create an new object.  
Example - Integers, Strings, Tuples.

#3)  What are the main differences between lists and tuples in Python.  
Answer -  
Lists  
1) Lists are mutable - You can change the content of the list after it's created.  
2) List provides the more built in methods that tuples as they are mutable.  
3) Lists are usualy use when you need a collection of items that might change over time.  
4) Lists are slightly slower that the tuples  
5) Example: mylist = [1, "what", 'a', 12.55]  

Tuples  
1) Tuples are immutables - You can not change or modify the content of the tuples once they created.  
2) Tuples have less built in methods primarily those for accessing information.  
3) Tuples are used for collections of items that should not be modified.  
4) Tuples are generally slightly faster than lists Due to their immutability  
5) Example: mytuple = (1, "what", 'a', 12.55)

#4) Describe how dictionaries store data.  

Answer -  
1)Dictionaries store the data in collections of unique keys and their associated values.  
2)Each key must be unique within a dictionary. It acts as the identifier for the associated value.  
3)Values can be of any data type in Python and can be duplicated.

#5) Why might you use a set instead of a list in Python.  

Answer -  
1) Sets are the container for things where each value is unique.  
2) on the other hand list is a container where the order of the values is matter and you can have the duplicate values.  
3) We can use the set instead of list where we have to store only the Unique values.  
4) we can also use the set where the order of the values inside the container is not important.

#6)  What is a string in Python, and how is it different from a list.  

Answer -  

String - string is a sequence of characters. these characters can be letters, numbers etc, strings are used to represent the text in the python.  

Difference -  
1) String only contain characters each item in string is a single character
2) Strings are immutable i.e. once you created an string you can not change a single character directly.  
3) String primarily use for representing the textual data. but on other hand list are use as containter to store different different data types.

#7) How do tuples ensure data integrity in Python.  

Answer -  

1) Tuples ensure the data integrity due to its immutablity because once a tuple is created it can not be changed or modifiy.  
2) Due to this characteristic the data stored within a tuple remains constant throughout its lifecycle.

#8) What is a hash table, and how does it relate to dictionaries in Python.  

Answer -  
1) Hash table is like a super-organized storage where items are placed into specific location based on the special labels.  
2) Python Dictionaries use the hash table internally to store the key-pairs.

#9)  Can lists contain different data types in Python.  

Answer -  

Yes in python list can contain the different types of data types in it.  
Example: list1 = [25, 'a', "hellow", 25.5555, True]

#10) Explain why strings are immutable in Python.  
Answer -  
1) Python can share the same string in memory if multiple variables uses it and if the strings are mutable this can cause the complexity.  
2) String is a data type which uses very frequently and if it become mutable the chances of getting error gets increases.

#11)  What advantages do dictionaries offer over lists for certain tasks.  

Answer -  
1) When we need to quickly find the value of specific Key we use the dictionaries insted of lists.  
2) When the order of items doesn't matter, but we need to associate unique labels with data, dictionaries provide a more natural and efficient way to store and access that information compared to lists.

#12)  Describe a scenario where using a tuple would be preferable over a list.  

Answer -  
When we have to deal with the spatial dataset where we have to work on the coordinates, longitudes and latitudes we can no change the values of these so in this case we can use the tuple insted of list because tuples are immutable.

#13)  How do sets handle duplicate values in Python.  

Answer -

#14) How does the “in” keyword work differently for lists and dictionaries.  

Answer -  
1) When you use "in" with a list it perform a liner search, it starts from the begining of the list and check all the elements until find the match or end of the list.  
2) When you use "in" with dictionaries it check the specified value exists as a key in the dictionary adn due to hash table it check's very efficient.

#15) Can you modify the elements of a tuple? Explain why or why not.  

Answer -  
No you can not change or modify the values of tuple once it created beacuse tupples are immutable i.e. means that once an immutable object is created, its internal state cannot be changed.

#16)  What is a nested dictionary, and give an example of its use case.  

Answer -  
A nested dictionary is dictionary where the values associated with keys are themselves dictionary.

Example -  
A nested dictionary is usualy use to represente the complex and hierarchical data where the information is in the form of categories and sub-categories.

In [ ]:
student_data = {
    "Student1":{
        "stream": "Science",
        "grades": {"Math":90, "Physics":80, "Chemistry":95}
    },
    "Student2":{
        "stream":"Commerce",
        "grades": {"Accounts":80, "Economics":90, "business":80}
    }
}

#17)  Describe the time complexity of accessing elements in a dictionary.  

Answer -  
The time complexity of asscessing elements in a dictionary is O(1), because the use of hash function to directly locate the value's memory address based on its key insted of search through the entire data.

#18)  In what situations are lists preferred over dictionaries.  

Answer -  
1) we preferred dictionaries over lists when we have the data in the form of individual value and not in the form of Key-Value pair.  
2) we also preferred lists when the order of the data is important and we need to mantain that through out the process.  
3) we can also use the list in over dictionaries when we have to accessed the elements by there index.  
4) Also in the case when we have to iterate througt the elements in a specific order.

#19) Why are dictionaries considered unordered, and how does that affect data retrieval.  

Answer -  
1) Dictionaries use hash tables, where item placement depends on the key's hash, not insertion sequence.  
2) The design optimizes for quick retrieval using keys not by their order.

#20) Explain the difference between a list and a dictionary in terms of data retrieval.  

Answer -  
1) List: Retrieval the data or an element by position(index).  
2) Dictionary: Retrieval the element by unique key as the data store in the form of Key-Value pair.  
3) Efficiency: The dictionarys retrieve fast that list as they work on hash and do not go througth the entire data to find the element.  
4) Order Dependence: List retrive on the bases of order of elements but dictionary retrive on the Key-Value pair.

# Practical Questions

In [ ]:
# 1)  Write a code to create a string with your name and print it.

name = "Tarun Singh"
print("my name is", name)

my name is Tarun Singh

In [ ]:
# 2) Write a code to find the length of the string "Hello World".

string = "Hello World"
print("length of the string is", len(string))

length of the string is 11

In [ ]:
# 3)  Write a code to slice the first 3 characters from the string "Python Programming".

testStr = "Python Programming"
print("3 characters of string:", testStr[:3])

3 characters of string: Pyt

In [ ]:
# 4)  Write a code to convert the string "hello" to uppercase.

testStr = "hellow"
print("Uppercase:", testStr.upper())

Uppercase: HELLOW

In [ ]:
# 5) Write a code to replace the word "apple" with "orange" in the string "I like apple".

testStr = "I like apple"
print("After replacing:", testStr.replace("apple", "orange"))

After replacing: I like orange

In [ ]:
# 6) Write a code to create a list with numbers 1 to 5 and print it.

testLst = [1,2,3,4,5]
print(testLst)

for i in testLst:
  print(i)

[1, 2, 3, 4, 5]
1
2
3
4
5

In [ ]:
# 7) Write a code to append the number 10 to the list [1, 2, 3, 4].

testLst = [1,2,3,4]
testLst.append(10)
print(testLst)

[1, 2, 3, 4, 10]

In [ ]:
# 8)  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

testLst = [1,2,3,4,5]
testLst.remove(3)
print(testLst)

[1, 2, 4, 5]

In [ ]:
# 9)  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

testLst = ['a', 'b', 'c', 'd']
print(testLst[1])

b

In [ ]:
# 10)  Write a code to reverse the list [10, 20, 30, 40, 50].

testLst = [10, 20, 30, 40, 50]
testLst.reverse()
print(testLst)

[50, 40, 30, 20, 10]

In [ ]:
# 11) Write a code to create a tuple with the elements 100, 200, 300 and print it.

testTup = (100, 200, 300)
print(testTup)

for i in testTup:
  print(i)

(100, 200, 300)
100
200
300

In [ ]:
# 12)  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

testTup = ('red', 'green', 'blue', 'yellow')
sec_to_lst = testTup[-2]
print(sec_to_lst)

blue

In [ ]:
# 13) Write a code to find the minimum number in the tuple (10, 20, 5, 15).

testTup = (10, 20, 5, 15)
print("The minimum number:", min(testTup))

The minimum number: 5

In [ ]:
# 14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

testTup = ('dog', 'cat', 'rabbit')
print("The index of cat:", testTup.index('cat'))

The index of cat: 1

In [ ]:
# 15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

testTup = ("apple", "kiwi", "orange")
for i in testTup:
  if i == "kiwi":
    print("Yes Kiwi is present")

Yes Kiwi is present

In [ ]:
# 16)  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

testSet = {'a', 'b', 'c'}
print(testSet)

{'a', 'b', 'c'}

In [ ]:
# 17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

testSet = {1, 2, 3, 4, 5}
testSet.clear()
print(testSet)

set()

In [ ]:
# 18) Write a code to remove the element 4 from the set {1, 2, 3, 4}.

testSet = {1, 2, 3, 4}
testSet.remove(4)
print(testSet)

{1, 2, 3}

In [ ]:
# 19)  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

testSet1 = {1, 2, 3}
testSet2 = {3, 4, 5}
union_set = testSet1.union(testSet2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
# 20)  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

testSet1 = {1, 2, 3}
testSet2 = {2, 3, 4}
intersection_Set = testSet1.intersection(testSet2)
print(intersection_Set)

{2, 3}

In [ ]:
# 21) Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

testDict = {"name": "Tarun",
            "age": 22,
            "city": "Delhi"}

print(testDict)

{'name': 'Tarun', 'age': 22, 'city': 'Delhi'}

In [ ]:
# 22)  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

testDict = {"name": "John",
            "age": 25}

testDict["country"] = "USA"

print(testDict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23)  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

testDict = {'name': 'Alice',
            'age': 30}

print(testDict['name'])

Alice

In [ ]:
# 24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

testDict = {'name': 'Bob',
            'age': 22,
            'city': 'New York'}

testDict.pop('age')

print(testDict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25)  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

testDict = {'name': 'Alice',
            'city': 'Paris'}

if 'city' in testDict:
  print("Yes the city is present.")
else:
  print("No the city is not present.")

Yes the city is present.

In [ ]:
# 26) Write a code to create a list, a tuple, and a dictionary, and print them all.

testLst = [1,2,3,4,5]
testTup = (1,2,3,4,5)
testDict = {"name": "Tarun",
            "age": 22,
            "city": "Delhi"}
print(testLst)
print(testTup)
print(testDict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Tarun', 'age': 22, 'city': 'Delhi'}

In [ ]:
# 27)  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
random_num = [random.randint(1, 100) for _ in range(5)]
random_num.sort()
print(random_num)

[22, 25, 44, 54, 94]

In [ ]:
# 28)  Write a code to create a list with strings and print the element at the third index.

testLst = ['car', 'bus', 'apple', 'metro', 'bike']
print(testLst[2])

apple

In [ ]:
# 29)  Write a code to combine two dictionaries into one and print the result.

testDict1 = {'name': 'john',
             'age': 55}
testDict2 = {'city': 'New York',
            'country': 'USA'}
testDict1.update(testDict2)
print(testDict1)

{'name': 'john', 'age': 55, 'city': 'New York', 'country': 'USA'}

In [ ]:
# 30)  Write a code to convert a list of strings into a set.

testLst = ['car', 'bus', 'apple', 'metro', 'bike']
testSet = set(testLst)
print(testSet)
print(type(testSet))

{'car', 'bus', 'metro', 'bike', 'apple'}
<class 'set'>